<div class="modal fade hide" id="chartNoticeModal" style="padding:25px;text-align:center" role="dialog" aria-hidden="true">
	<p>
    <%= t("questions.chart_notice_text").html_safe %>
	</p>
	<button class="btn" data-dismiss="modal" aria-hidden="true"><%= t "close" %></button>
</div>