<div class="control-group nested-fields">
	<div class="controls">
	<%= link_to_remove_association icon_tag("minus-sign"), f %>
	<%= f.text_field :answer1, placeholder: t("surveys.drag_drop_input_field_1") %>
	<%= f.text_field :answer2, placeholder: t("surveys.drag_drop_input_field_2") %>
 </div>
</div>
