<div class="form-inline nested-fields row-margin">
	<div class="form-group">
		<%= link_to_remove_association icon_tag("minus-sign"), f %>
		<%= f.text_field :name, placeholder: t("name"), class: "form-control" %>
	</div>
	<div class="form-group col-md-offset-1">
			<label class="checkbox-inline"><%= f.check_box :correct %> 
				&nbsp; <%= t("surveys.edit.correct_answer") %>?
			</label>
	</div>
</div>
