<div class="control-group nested-fields">
	<div class="controls">
	<%= link_to_remove_association icon_tag("minus-sign"), f %>
	<%= f.text_field :name, placeholder: t("name") %>
	<%= f.number_field :position, placeholder: t("position") %>
 </div>
</div>
