<li class="move_handler">
	<div class="control-group nested-fields">
		<div class="controls actual_input_div">
			<%= link_to_remove_association icon_tag("minus-sign"), f %>
			<%= f.text_field :name, placeholder: t("name"), class: "name_field_for_order_option" %>
		</div>
	</div>
</li>
