<div class="modal fade" id="screenshotModal" style="padding:5px 5px 5px 5px;text-align:center" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<%= image_tag "example_student_screen.png", size: "277x521", title: "Beispiel-Screenshot / Example screenshot" %>
			</div>

			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t "close" %></button>
			</div>
		</div>
	</div>
</div>
