<div class="modal fade hide" id="screenshotModal" style="padding:5px 5px 5px 5px;text-align:center" role="dialog" aria-hidden="true">
    <%= image_tag "example_student_screen.png", size: "277x521", title: "Beispiel-Screenshot / Example screenshot" %><br>
	<button class="btn" data-dismiss="modal" aria-hidden="true"><%= t "close" %></button>
</div>