<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="margin-left: 5%; margin-right: 5%;">
        <style type="text/css">
        h1, p, div, small, td, a {
              font-family: Arial, Helvetica, sans-serif;
          }
      </style>
	<p>
        <a href="https://pingo.upb.de/?utm_source%3Dannouncement%26utm_medium%3Demail%26utm_campaign%3Dpingo+mc+migration">
            <img src="http://pingo.upb.de/assets/logo.png" alt="PINGO">
        </a>
      </p>
        <p><small>Kein Newsletter / No Newsletter! Scroll down for ENGLISH</small>    </p>
      <br>&nbsp;<br>

	<table align="center"style="border: 1px solid black; background-color: text-align:center;">
			<tr><td>
				<p><strong>
				Kurzversion:</strong></p><ul>
				<li>Serverumzug von PINGO am Wochenende</li>
				<li>es ist keine Unterbrechung des Betriebs geplant</li>
				<li>u. U. werden Sie am Wochenende auf “pingo.cc” weitergeleitet</li></ul>

			</td></tr>
		</table>
		<p>
			Liebe PINGO-Benutzer,</p>
		<p>

			wie Sie evtl. in unserem <a href="http://blogs.upb.de/pingo">Blog</a> gelesen haben, werden wir die PINGO-Infrastruktur in ein neues Rechenzentrum umziehen.</p>
		<p>

			Die neuen Server warten bereits auf Ihren Einsatz – <i style="background-color: #B2DFEE;">am kommenden Wochenende (11./12.5.) werden wir PINGO im neuen Rechenzentrum in Betrieb nehmen</i>.</p>
		<p>

			Technisch bedingt kann es beim Umzug vorkommen, dass Sie noch auf dem "alten" Server landen und dann über die Adresse "pingo.cc" auf den neuen Server geleitet werden. Dies ist dann also kein Sicherheitsproblem – wir haben diese Domain zusätzlich für PINGO bereitgestellt, um den Umzug für Sie <i style="background-color: #B2DFEE;">ohne Unterbrechung des Betriebs</i> abzuwickeln.</p>
		<p>

			Für Sie bedeutet der Umzug, dass PINGO mehrfach redundant und somit noch ausfallsicherer bereitgestellt wird. Wir können außerdem im neuen Rechenzentrum flexibel die Rechenleistung erhöhen und sind somit bestens für die Zukunft gewappnet.</p>
		<p>

			Falls Sie planen, PINGO am Samstag live einzusetzen, bitten wir Sie uns kurz eine Mail mit dem Zeitfenster an <a href="mailto:pingo-support@uni-paderborn.de">pingo-support@uni-paderborn.de</a> zu senden.
			
		</p>
		<p>
Weitere aktuelle Informationen erhalten Sie wie immer in unserem <a href="http://blogs.upb.de/pingo">Blog</a> oder unserem Newsletter (diesen können Sie – falls noch nicht geschenen – unter <a href="https://pingo.upb.de/users/edit">pingo.upb.de/users/edit</a> abonnieren).
	</p>		
		
		<br>
		<hr noshade="noshade"/>
		<small>ENGLISH version:</small></br>
		
		
		
		
		<table align="center"style="border: 1px solid black; background-color: text-align:center;">
				<tr><td>
					<p><strong>
					Short version:</strong></p><ul>
					<li>We will migrate the PINGO servers into a new data center during the upcoming weekend</li>
					<li>no  downtime is planned for this operation</li>
					<li>during the process, you might be redirected to our other domain "pingo.cc"</li></ul>

				</td></tr>
			</table>
			
			<p>Dear PINGO user,</p>
		<p>

			recently we have set up a new infrastructure for PINGO in a new data center. <i style="background-color: #B2DFEE;">During the upcoming weekend  (11th/12th) we will migrate the PINGO servers</i> and shut down the old ones.</p>
		<p>

			Due to technical reasons, while migrating you still might reach the “old” servers. In this case, you will be redirected to our new servers being also available at "pingo.cc". We have setup this extra domain to <i style="background-color: #B2DFEE;">keep PINGO live and running during the migration.</i></p>
		<p>

			As a result of the migration to the new data center, we will run PINGO redundantly to minimize failures or downtime. Also, the new infrastructure enables us to to privide enough computing power for the future.</p>
		<p>

			You can get more current news via our newsletter (signup, if you haven’t already, at <a href="https://pingo.upb.de/users/edit">pingo.upb.de/users/edit</a>) or in our (German) <a href="http://blogs.upb.de/pingo">blog</a>.</p>
			
		

			<p><hr noshade="noshade"/>
				<small><u>Imprint/Impressum:</u><br>
				<a href="http://www.upb.de/pingo">PINGO &mdash; Peer Instruction for very large Groups</a> (Fak. Wiwi)<br>
				Universit&auml;t Paderborn, Warburger Str. 100, 33098 Paderborn, Germany.</small>
			</p>
  </body>
</html>