<div class="row">
	<div class="col-md-12">
		<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
			<a class="close" data-dismiss="alert">×</a>
			<%= msg %>
		</div>
		<% end %>
	</div>
</div>
