<%
if I18n.locale == :de
  ytlink = "KK22QMb0MFA"
else
  ytlink = "aZC3NnUqZcs"
end
%>
<div class="modal fade" id="pingo_video" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 700px;">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" id="myModalLabel">PINGO Video</h4>
			</div>
			<div id="videoContainer" class="modal-body">
				<!-- iframe will be inserted here as soon as modal loads -->
			</div>
			<div class="modal-footer">
				<small style="float:left;">Link: <%= link_to "http://youtu.be/#{ytlink}", "http://youtu.be/#{ytlink}", target: "_blank", rel: "alternate" %></small>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t "close" %></button>
			</div>
		</div>
	</div>
</div>
<% content_for :javascript do %>
<script>
var iFrameHTML = '<iframe id="videoiFrame" width="640" height="360" src="http://www.youtube-nocookie.com/embed/<%= ytlink %>?rel=0&enablejsapi=1&origin=<%= ENV["URL_PREFIX"] %>" frameborder="0" allowfullscreen></iframe>';
	$('#pingo_video').on('show.bs.modal', function () {
	$("#videoContainer").html(iFrameHTML);
	});
	$('#pingo_video').on('hide.bs.modal', function () {
		// Remove video
		$("#videoiFrame").remove();
	});
</script>
<% end %>
