<div class="form-group">
	<%= select_tag "tags", options_for_select([["✱ " + t(".all_tags"), '']] + current_user.question_tags.sort.map{ |t| [t, t]}),  class: "form-control" %>
</div>
<table id="question-list" class="table table-condensed table-striped">
	<tbody>
		<tr class="hidden" id="templateQuestionRow" data-model="question" data-tags="">
			<td data-action="add_question"></td>
			<td style="font-size: 9pt;" data-attribute="name"> </td>
		</tr>
	</tbody>
</table>

<% content_for :javascript do %>
<script>
$("#questions_duration").bind("change", function(){
	var duration = $(this).val();
	$("#question-list tbody * a").each(function(){
		$(this).attr("href", $(this).attr("href").replace(/duration=\d+/, "duration=" + duration));
	});
});
$("#tags").bind("change", function(){
	if($(this).val() == ""){
		$("#question-list tbody tr").not(".hidden").show();
	} else {
		var selectedTag = $(this).val();
		$("#question-list tbody tr[data-tags]").each(function(index) {
			var currentTags = $(this).data("tags");
			// TODO possible improvement: render as JSON-array and let jQuery convert
			if(typeof(currentTags.split) == "function"){
				if(jQuery.inArray(selectedTag, currentTags.split(",")) !== -1){
					$(this).show();
				} else {
					$(this).hide();
				}
			}
		});
	}
});
</script>
<% end %>
