<div id="disableTourDiv">
	<%= link_to t("tours.exit_tour"), params.merge(tour: "false"), class: "btn btn-small btn-warning" %>
</div>

<link rel=" stylesheet" type="text/css" href="/stylesheets/jquery.joyride-2.0.3.css">

<% content_for :javascript do %>
	<script src="/scripts/jquery.joyride-2.0.3.js"></script>

	<script>
	  $(window).load(function() {
	    $("#tourStops").joyride({
	    });
	  });
	</script>
	
<% end %>