<body>
  <table id="survey-table">
	  <% categories = survey.categories %>
	  <% sub_words = survey.sub_words %>
	  <% categories.shuffle! %>
    <% sub_words.shuffle! %>
	  <tr>
		  <td>
			  <ul>
				  <% for j in 0..(categories.length - 1) %>
					  <li><%= categories[j].name %>:</li>
            <li>
              <div id="category<%= categories[j].name %>" class="categoryDiv"></div>
            </li>
				  <% end %>
			  </ul>
  		</td>
  		<td>
			  <ul id="sortable_list">
				  <% for j in 0..(sub_words.length - 1) %>
					  <li class="move_handler"><%= sub_words[j].name %></li>
				  <% end %>
			  </ul>
  		</td>
  	</tr>
  </table>
  <br />

  <!-- TODO: Put the following two scripts into a content_for -->
  <script src="/scripts/Sortable.js"></script>
  <script src="/scripts/Sortable.min.js"></script>

  <script>
    Sortable.create(sortable_list, { ghostClass: "ghost",group: "main"}); 
    var categories = document.getElementsByClassName("categoryDiv");
    for(i=0;i < categories.length; i++) {
      currentCategory = document.getElementById(categories[i].id);
      Sortable.create(currentCategory, { ghostClass: "ghost",
        group: "main",
        onAdd: function (evt) {
          currentCategory.style.height = 10; //TODO: increase div height onAdd and decrease it on take away
        }

      }); 
    } 
  </script>
</body>