<head>
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  <table id="survey-table">
	  <% answer1s = survey.get_all_answer1 %>
	  <% answer2s = survey.get_all_answer2 %>
	  <% answer2s.shuffle! %>
	  <tr>
		  <td>
			  <ol class="leftOptions selectable">
				  <% for j in 0..(answer1s.length - 1) %>
					  <li class="left"><%= answer1s[j] %></li>
				  <% end %>
			  </ol>
  		</td>
  		<td>
			  <ol class="rightOptions selectable">
				  <% for j in 0..(answer2s.length - 1) %>
					  <li class="right"><%= answer2s[j] %></li>
				  <% end %>
			  </ol>
  		</td>
  	</tr>
  </table>
  <hr />
  <p><strong>
    <%= t "surveys.participate.chosen-match" %>:
  </strong></p>
  <table class="select-result"></table>
  <br />

  <script>
    function removeClazz(className, from) {
      $(from).addClass(className);
      $(from).removeClass(className)
    }

    function writeSelectResultRow(anzwer1, anzwer2) {
      return( '<tr>' +
                '<td>' +
                  '<div style="width: 100%">' +
                    '<table style="width: 100%">' +
                      '<tr>' +
                        '<td style="width:10%;">' +
                          '<div class="remove-btn"><%= icon_tag "remove" %></div>' +
                        '</td>' +
                        '<td style="width:90%;">' +
                          '<table>' + 
                            '<tr>' +
                              '<td class="selected_left">' + anzwer1 + '</td>' +
                              '<td style="width:10%;"> - </td>' +
                              '<td class="selected_right">' + anzwer2 + '</td>' +
                            '</tr>' +
                          '</table>' + 
                        '</td>' +
                      '</tr>' +
                    '</table>' +
                    '<input type="hidden"' +
                            'name="option[]"' + 
                            'value="' + anzwer1 + ' - ' + anzwer2 + '"' +
                    '/>' +
                  '</div>' +
                '</td>' +
              '</tr>')
    }

    $(document).ready(function(){

      $(".selectable").width($(window).width()/2 - 23);
      $(".select-result").width($(window).width() - 40);

      $(window).resize(function(){
        $(".selectable").width($(window).width()/2 - 23);
        $(".select-result").width($(window).width() - 40);
      });

      $(".leftOptions").delegate(".left","click",function(){
        var leftbox = $(this);
        
        removeClazz("selected", ".left");
        leftbox.toggleClass("selected");

        $(".right").each(function(index, element) {
          if($(element).is(".selected")) {

            removeClazz("selected", ".left");
            removeClazz("selected", ".right");

            leftbox.hide(100);
            $(element).hide(100);

            $(".select-result").append(
              writeSelectResultRow(leftbox.text(), $(element).text())
            );
          }
        });
      });

      $(".rightOptions").delegate(".right","click",function(){
        var rightbox = $(this);
          
        removeClazz("selected", ".right");
        rightbox.toggleClass("selected");
        
        $(".left").each(function(index, element) {
          if($(element).is(".selected")) {
            
            removeClazz("selected", ".left");
            removeClazz("selected", ".right");
      
            $(element).hide(100);
            rightbox.hide(100);

            $(".select-result").append(
              writeSelectResultRow($(element).text(), rightbox.text())
            );
          }
        });
      });
        
      $(".select-result").delegate(".remove-btn","click",function(){
        var div = $(this).parent().parent().parent().parent();
        var answer1 = div.find(".selected_left").first().text();
        var answer2 = div.find(".selected_right").first().text();
        $(".leftOptions").append('<li class="left">' +
          answer1 +
          '</li>'
        );
        $(".rightOptions").append('<li class="right">' +
          answer2 +
          '</li>'
        );
        div.parent().parent().remove();
      });
    });
  </script>
</body>