<label for="option" class="well">
  <%= number_field_tag "option", "", required: true, class: "span3", step: "0.00001" %>
  <span class="inline-help"><small>(<%= t ".notice" %>)</small></span>
</label>