        <!--save results button 

        <a class="btn pull-right canvas__show-highlight" id="show-highlights" data-toggle="button"><%= t ".mark_corrects" %></a> -->

<!--
var meineTabelle = new table('cols="2"','rows="2"','border="1"','bgcolor="#FFFFCC"');
  meineTabelle.contentArraysToArguments();
  meineTabelle.content[0][0].value = "<b>Berlin</b>";
  meineTabelle.content[0][1].value = "<b>Hamburg</b>";
  meineTabelle.content[1][0].value = "3 Millionen";
  meineTabelle.content[1][1].value = "2 Millionen";

meineTabelle.contentArgumentsToArrays();
 document.write("lolz"); //meineTabelle.draw

var shuffleArray = function(){
  var tmp, rand;
  for(var i =0; i < this.length; i++){
    rand = Math.floor(Math.random() * this.length);
    tmp = this[i]; 
    this[i] = this[rand]; 
    this[rand] =tmp;
  }
}