<!-- Each tip is set within this <ol>.
 This creates the order the tips are displayed -->

<ol id="tourStops">
  
  <li><p><%= t(".about_events") %></p></li>
  <li data-id="event_name" data-options="tipLocation:right;tipAdjustmentY:-15"><p><%= t(".title").html_safe %></p>
  </li>

</ol>
