 <p> 
	Sehr geehrte PINGO-Nutzerin, sehr geehrter
	PINGO-Nutzer,<br>
	mit dieser E-Mail m&ouml;chten wir Ihnen f&uuml;r die intensive Nutzung des Systems <strong>danken</strong> und Sie &uuml;ber einige interessante <strong>Neuerungen</strong> informieren.</p>
	<p>Bis heute haben sich fast <strong>800 Nutzerinnen und Nutzer</strong> von &uuml;ber <strong>150 nationalen und internationalen Universit&auml;ten</strong> bei PINGO registriert. Diese Nutzer haben bereits mehr als <strong>6.000 Umfragen mit mehr als 100.000 Votes</strong> durchgef&uuml;hrt. Wir freuen uns sehr &uuml;ber diese Zahlen und bedanken uns recht herzlich f&uuml;r das entgegengebrachte Vertrauen.</p>
	<p>Gleichzeitig w&uuml;nschen wir uns noch viele weitere Nutzer. Daher freuen wir uns sehr dar&uuml;ber, wenn Sie das PINGO-System interessierten <strong>Freundinnen/Freunden und Kolleginnen/Kollegen weiterempfehlen</strong>strong>. Dazu k&ouml;nnen Sie diese Mail einfach weiterleiten oder auch gerne die <a href="https://pingo.upb.de/invitations/new">Einladungsfunktion</a> von PINGO nutzen:</p>
        
<p>
	<table align="center" width="200" height="60" style="border: 1px solid #00205B; background-color: #00205B;text-align:center;">
		<tr><td>
			<a href="https://pingo.upb.de/invitations/new" style="color: white;"><strong>Jetzt Freunde/Kollegen einladen</strong></a>
		</td></tr>
	</table>
</p>

	<p>Interessierte Nutzerinnen und Nutzer k&ouml;nnen sich unter <a href="https://pingo.upb.de/users/sign_up">pingo.upb.de/users/sign_up</a> kostenlos registrieren. Aktuelle Informationen zum PINGO-Projekt finden Sie unter <a href="http://www.upb.de/pingo">upb.de/pingo</a>.      
</p>


<p>
	In den letzten Wochen und Monaten haben wir unter anderem folgende neuen Features zum System hinzugef&uuml;gt:
</p>
<p>
	<ul><li><strong>CSV-Export von Umfrageergebnissen</strong></li>
		<ul>
			<li>Speichern und analysieren Sie die Antworten der Umfrageteilnehmer nach einer Session.</li>
			<li>Mehr dazu im <a href="http://blogs.uni-paderborn.de/pingo/pingo-2-1-1-fragen-annotieren-fragetypen-ergebnisexport/">Blog</a>.</li>
		</ul>

		<li><strong>Fragen-Import und -Export</strong></li>
		<ul>
            <li>Exportieren Sie Fragen aus Ihrem pers&ouml;nlichen Fragenkatalog</li>
        <li>Importieren Sie Fragen bzw. ganze Fragenkataloge aus anderen Systemen und Quellen.</li>
            <li>Unterst&uuml;tzte Fragenformate: Moodle XML, CSV/Excel, Aiken/Pearson, GIFT.</li>
            <li>Mehr dazu im <a href="http://blogs.uni-paderborn.de/pingo/?p=2462/">Blog</a>.</li>
        </ul>
		<li><strong>Kommentarfunktion</strong></li>
		<ul><li>Erstellen und speichern Sie Kommentare (z.B. Verst&auml;ndnisprobleme im Auditorium, unklar formulierte Antwortalternativen) zu Ihren Fragen.</li>
        <li>Mehr dazu im <a href="http://blogs.uni-paderborn.de/pingo/?p=2462/">Blog</a>.</li>
        </ul></li>
	</ul>
<p>	Viele Entwicklungen der letzten Zeit sind auf Basis von <strong>Feedback</strong> entstanden. Sie k&ouml;nnen uns unter <%= mail_to "pingo-support@uni-paderborn.de", "pingo-support@uni-paderborn.de" %> jederzeit erreichen, wir freuen uns von Ihnen zu h&ouml;ren!</p>
    
<p>
    Weiterhin finden Sie uns jetzt auch auf <a href="https://www.facebook.com/pingo.upb">Facebook (fb.com/pingo.upb)</a>. Auf unserer Seite werden wir regelm&auml;&szlig;ig Sie unser  <a href="http://blogs.uni-paderborn.de/pingo/">Blog</a>.
</p>
<p>
	Liebe Gr&uuml;&szlig;e<br>
	Ihr PINGO-Projektteam
</p>
	
<p><hr noshade="noshade"/>
	<br><center><small>
	<i><strong>English version:</strong></i></small></center></p>


 <p> 
	Dear PINGO user,<br>
	A quick email to <strong>thank you</strong> for your intensive usage of the PINGO system and inform you about PINGO's <strong>new features</strong>.</p>
	<p>Currently, we have more than <strong>800 registered users</strong> from more than <strong>150 universities worldwide</strong>, who held more than <strong>6,000 surveys and collected more than 100,000 votes</strong>.</p>
	<p>We are delighted with this intensive usage and thank you very much for the trust you have placed in us. As we would welcome even more users to our system we would be very grateful if you <strong>recommended PINGO to your friends and colleagues</strong>. Simply go to the <a href="https://pingo.upb.de/invitations/new">'recommend' feature</a> for a quick and easy way to spread the message.</p>
        
<p>
	<table align="center" width="200" height="60" style="border: 1px solid #00205B; background-color: #00205B;text-align:center;">
		<tr><td>
			<a href="https://pingo.upb.de/invitations/new" style="color: white;"><strong>Invite friends/colleagues now!</strong></a>
		</td></tr>
	</table>
</p>

	<p>Interested users can also register for free at <a href="https://pingo.upb.de/users/sign_up">pingo.upb.de/users/sign_up</a>. More current information about our project can be found online at <a href="http://www.upb.de/pingo">upb.de/pingo</a>.      
</p>


<p>
	In den letzten Wochen und Monaten haben wir unter anderem folgende neuen Features zum System hinzugef&uuml;gt:
</p>
<p>
	<ul><li><strong>csv-export of survey results</strong></li>
		<ul>
			<li>Save and analyze the participants' answers after each session.</li>
		</ul>

		<li><strong>Question export and import</strong></li>
		<ul>
            <li>Export a question from your personal question catalogue. </li>
        <li>Import questions or whole question catalogues from other systems and sources.</li>
            <li>Supported question formats: Moodle XML, .csv, Aiken/Pearson, GIFT.</li>
        </ul>
		<li><strong>Comments feature</strong></li>
		<ul><li>Add comments to your questions (e.g. to note problems of the audience understanding the questions, lack of clarity for answer options, ...).</li>
        </ul></li>
	</ul>
<p>We developed many of the recent features based on user <strong>feedback</strong>. Please do not hesitate to contact us via <%= mail_to "pingo-support@uni-paderborn.de", "pingo-support@uni-paderborn.de" %> with any suggestions or comments. We look forward to hearing from you!</p>
    
<p>
    Kind regards,<br>
	the PINGO project team
</p>
	

<hr noshade="noshade"/>
	<p>
		<small><u>Imprint/Impressum:</u><br>
		<a href="http://www.upb.de/pingo">PINGO &mdash; Peer Instruction for very large Groups</a> (Fak. Wiwi)<br>
		Universit&auml;t Paderborn, Warburger Str. 100, 33098 Paderborn, Germany.</small>
	</p>