<p><b>Hallo <%= @resource.name %>!</b></p>

<p>F체r Ihren PINGO-Account wurde soeben ein Link zum Zur체cksetzen des Kennworts angefordert. Klicken Sie den folgenden Link an, um ein neues PINGO-Kennwort zu vergeben:</p>

<p><strong><%= link_to 'Kennwort 채ndern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http")) %></strong></p>

<p><small>Falls Sie kein neues Kennwort angefordert haben, ignorieren Sie diese Mail bitte.</small></p>
<p><small>Ihr Kennwort wird nicht ge채ndert, solange Sie nicht den Link besuchen.</small></p>

<hr noshade="noshade"/>

<p><b>Hello <%= @resource.name %>!</b></p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><strong><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http")) %></strong></p>

<p><small>If you didn't request this, please ignore this email.</small></p>
<p><small>Your password won't change until you access the link above and create a new one.</small></p>

<p><hr noshade="noshade"/>
<small>
	<u>Imprint/Impressum:</u><br>
	<a href="http://www.upb.de/pingo">PINGO &mdash; <strong>P</strong>eer <strong>In</strong>struction for very large <strong>g</strong>r<strong>o</strong>ups</a> (Fak. Wiwi)<br>
	Universit&auml;t Paderborn, Warburger Str. 100, 33098 Paderborn, Germany.
</small></p>